<!DOCTYPE html>
<html>
  <head>
    <title>User <%= userId %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>User <%= userId %></h1>
    <a href="/tekitonalist">user1</a>
    <a href="/users/2">user2</a>
    <a href="/">top</a>
  </body>
</html>
